
$lightGreyBackground: #eeeeee;
$whiteBackground : #FFFFFF;
$skyBlue : #3ac7ec;
$greyText : #222222;
$lightGreyText : #333333;
$labelColor : #666666;
$lightLabel : #686868 ;
$black : #000000;
$paleGreen : #1f7a54 ;
$parrotGreen : #3fd28b ;
$pistaGreen : #8ddc97 ;
$shadow : #0000003d;
$btnText : #1f2834 ;
$footerBackground : #e0e1e1;
$footerTextSeparator : #0000001f;