<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar></app-navbar>

  <!-- responsive done -->
  <!-- <app-card></app-card> -->


  <!-- responsive done -->
  <app-drivepage></app-drivepage>


  <!-- responsive done -->
  <!-- <app-login></app-login> -->

  <!-- responsive not given yet -->
  <!-- <app-register></app-register> -->


  <!-- <app-qualification></app-qualification> -->

  <!-- responsive not given yet -->
  <!-- <app-review></app-review> -->

  <!-- responsive done -->
  <!-- <app-hallticket></app-hallticket> -->
</body>
</html>